nextflow.enable.dsl=2
$INITIAL_RUN_TYPE="gzip"
    
//* autofill
if ($HOSTNAME == "default"){
    $DOCKER_IMAGE = "quay.io/viascientific/uminator:1.0"
}
//* autofill

params.reads = "" //* @input @file
params.mate = "" //* @dropdown @options:"single,pair"
params.readsFiltering = "yes" //* @dropdown @options:"yes","no"
params.consensusPolishing = "yes" 
params.draftConsensusCalling = true
params.primersTrimming = "yes" //* @dropdown @options:"yes","no"
params.QC = "yes" //* @dropdown @options:"yes","no"

params.FW_adapter = "" //* @input @description:"forward adapter sequence"
params.RV_adapter = "" //* @input @description:"reverse adapter sequence"
params.FW_primer = "" //* @input  @description:"forward and reverse primer sequences"
params.RV_primer = "" //* @input  @description:"reverse primer sequences"

params.minQ = 10 //* @input  @description:"min Q value for reads filtering"
params.minLen = 200 //* @input  @description:"min read length for reads filtering"
params.maxLen = 15000 //* @input  @description:"max read length for reads filtering"
params.searchLen = 200 //* @input  @description:"Amount of bases at the beginning and end of each read to search for UMIs"
params.tolCutadaptErr = 0.2 //* @input  @description:"Cutadapt maximum allowed error rate [0, 1]"
params.minLenOvlp = 11 //* @input  @description:"Min overlap between read and adapter"
params.UMILen = 18 //* @input  @description:"UMI length (before merging UMI1 and UMI2 in case of double UMI design)"
params.UMIPattern="[ATCG]{3}[CT][AG][ATCG]{3}[CT][AG][ATCG]{3}[CT][AG][ATCG]{6}[CT][AG][ATCG]{3}[CT][AG][ATCG]{3}[CT][AG][ATCG]{3}" //* @input @description:"UMI structure (after merging UMI1 and UMI2, in case of double UMI design) in the form of a regex of the type: [nucl.]{cardinality}"
params.UMIClustID = 0.9 //* @input  @description:"UMI clustering identity"
params.maxDiff = 6 //* @input  @description:"BWA aln maximum number of differences"
params.max_NM_mean = 3 //* @input  @description:"maximum tolerated mean mapping difference between UMI and query reads"
params.max_NM_sd = 2 //* @input  @description:"maximum tolerated sd of mapping difference between UMI and query reads"
params.min_UMI_freq = 30 //* @input  @description:"Minimum number of reads assigned to UMI for generating a consensus sequence"
params.target_reads_consensus = 200 //* @input  @description:"Maximum number of reads used for consensus calling"
params.target_reads_polishing = 200 //* @input  @description:"Maximum number of reads used for consensus polishing"
params.fast_consensus_flag = 1 //* @input  @description:"fast_consensus_flag = 1 for obtaining draft consensus with VSEARCH, instead of MAFFT + EMBOSS cons"
params.fast_polishing_flag = 0 //* @input  @description:"fast_polishing_flag = 1 for polishing with Racon, instead of Racon + Medaka"
params.plurality =0.15 //* @input  @description:"MAFFT plurality value: minimum fraction of aligned reads supporting a basis for including it in the preliminary consensus"
params.fast_alignment_flag = 1 //* @input @description:"Set fast_alignment_flag=1 if you want to perform fast multiple sequence alignment; otherwise set fast_alignment_flag=0"
params.medaka_model = "r941_min_sup_g507" //* @input @description:"Medaka model"
//test dataset params: --minQ=7 --minLen=3000 --maxLen=6000 --min_UMI_freq=10 --medaka_model=r941_min_high_g330

